// hide brand/title on user and group details pages so it doesnt break covers
body[class*="template-account-"], .template-chats, .template-groups-details {
	.brand-container {
		display: none!important;
	}
}
[component="brand/wrapper"] {
	&:hover {
		background-color: $gray-100;
	}
}

[component="brand/logo"] {
	max-height: 48px;
	width: auto;
}