[component="search/filters"], [component="flags/filters"] {
	.filter-btn {
		border-color: $gray-300!important;
		border-radius: $border-radius;
		&.active-filter {
			border-color: $primary!important;
			background-color: rgba($primary, 0.05);
		}
	}
}